* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
   
 
  }
  
  header {
    background-color: #2a9d8f;
    color:#14213d;
    font-size: 2rem ;
    text-shadow:  3px 3px 3px #ccc;
  }
  
  header h1 {
  text-align: center;
  }
  
  form {
    background-color: #14213d;
    padding: 10px;
    text-align: center;
  }
  
    input[type="text"] {
    font-size:16px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: 0; 
    margin-right: 10px;
    width: 500px;
  }
  
button{
    height: 30px;
    border-radius: 8px;
    background-color: #2a9d8f;
    color: #14213d;
    padding: 6px;
    border: 2px  solid  #2a9d8f; 
    margin-right: 2px;
  }

  button:hover{
      background-color: #14213d;
      color: white;
  }

   ul {
    padding: 20px;
    list-style-type: none;
    justify-content:right;
   }

   ul li {
     padding: 10px;
     border-bottom: 1px solid #999;
     color: black;
     display: flex;
     justify-content:space-between;
   }

   .done {
    text-decoration: line-through;
   }

   
  
